In [1]:
import pandas as pd

import sys
sys.path.append("../")
import src.soporte as sp

In [ ]:
# Realizo llamadas a la API REData para obtener el balance
sp.balance()

In [5]:
# Cargamos los resultados para obtener una pequeña visualización de los datos
df_balance = pd.read_csv("../data/scrap/balance.csv")
df_balance.head()

,datetime,value_Hidráulica,percentage_Hidráulica,value_Eólica,percentage_Eólica,value_Solar fotovoltaica,percentage_Solar fotovoltaica,value_Solar térmica,percentage_Solar térmica,value_Otras renovables,...,value_Generación no renovable,percentage_Generación no renovable,value_Consumos en bombeo,percentage_Consumos en bombeo,value_Saldo I. internacionales,percentage_Saldo I. internacionales,value_Demanda en b.c.,percentage_Demanda en b.c.,value_Hidroeólica,percentage_Hidroeólica
0,2013-01-01T00:00:00.000+01:00,66558.820,0.265905,159736.163,0.638151,10311.537,0.041195,982.070,0.003923,11133.884,...,361783.836,1,-29008.160,0.045130,-1663.129,0.002587,581423.444,1,NaN,NaN
1,2013-01-02T00:00:00.000+01:00,80201.734,0.250916,208335.946,0.651792,14866.830,0.046512,3334.936,0.010434,11299.790,...,424205.644,1,-10689.626,0.014116,-2717.097,0.003588,730434.573,1,NaN,NaN
2,2013-01-03T00:00:00.000+01:00,84810.292,0.345133,120064.699,0.488600,19324.717,0.078641,8319.346,0.033855,11582.596,...,512724.397,1,-13846.270,0.017485,19591.119,0.024740,764201.372,1,NaN,NaN
3,2013-01-04T00:00:00.000+01:00,88815.608,0.433106,74322.618,0.362431,20307.624,0.099029,8700.478,0.042428,11444.623,...,546563.112,1,-7962.318,0.010250,17234.389,0.022186,760902.020,1,NaN,NaN
4,2013-01-05T00:00:00.000+01:00,70184.389,0.310079,114679.540,0.506661,20332.367,0.089830,8075.142,0.035676,11494.886,...,469639.956,1,-7064.770,0.009990,-4112.630,0.005816,684806.211,1,NaN,NaN

In [ ]:
# Realizo llamadas a la API REData para obtener el balance por Comunidad Autónoma
sp.balance_ccaa()

In [ ]:
# Realizo llamadas a la API REData para obtener la demanda de energía
sp.demanda()

In [ ]:
# Realizo llamadas a la API REData para obtener la demanda de energía por Comunidad Autónoma
sp.demanda_ccaa()

In [ ]:
# Realizo llamadas a la API REData para obtener la demanda diaria máxima de cada mes
sp.demanda_max_diaria()

In [ ]:
# Realizo llamadas a la API REData para obtener la demanda horaria máxima de cada mes
sp.demanda_max_horaria()

In [ ]:
# Realizo llamadas a la API REData para obtener las pérdidas energéticas por transporte
sp.perdidas_transporte()

In [ ]:
# Realizo llamadas a la API REData para obtener la potencia máxima mensual
sp.potencia_maxima_instantanea()

In [ ]:
# Realizo llamadas a la API REData para obtener la demanda de energía real por minutos, además de las predicciones españolas y la energía programada
sp.demanda_tiempo_real()

In [ ]:
# Realizo llamadas a la API REData para obtener los datos sobre la evolución de las energías renovables
sp.evolucion_renovable()

In [ ]:
# Realizo llamadas a la API REData para obtener los datos sobre la evolución de las energías renovables por Comunidades Autónomas
sp.evolucion_renovable_ccaa()

In [ ]:
# Realizo llamadas a la API REData para obtener Los porcentajes procedentes de energías renovables
sp.estructura_renovable()

In [ ]:
# Realizo llamadas a la API REData para obtener los datos sobre la cantidades de emisión de CO2
sp.emisiones_CO2()

In [ ]:
# Realizo llamadas a la API REData para obtener los datos sobre la evolución del precio de la energía
sp.precios_mercados()