In [91]:
import pandas as pd
import pickle

In [92]:
predicción = pd.read_csv("../data/visualizacion/predicción.csv", index_col = 0)
with open(f"../data/visualizacion/px_demanda_real.pkl", "rb") as demanda_real:
    demanda = pickle.load(demanda_real)

In [94]:
predicción_demanda = predicción.reset_index().rename(columns = {"index": "Fecha"})
predicción_demanda["Fecha"] = pd.to_datetime(predicción_demanda["Fecha"], utc = True, format = "%Y-%m-%d %H:%M:%S%z")
predicción_demanda["Fecha"] = predicción_demanda["Fecha"].dt.tz_convert("Europe/Paris")
predicción_demanda.rename(columns = {"y_pred": "Prediccion propia en MW"}, inplace = True)
predicción_demanda

                       Fecha  Prediccion propia en MW
0  2023-03-31 14:30:00+02:00               25312.2555
1  2023-03-31 14:40:00+02:00               25077.6597
2  2023-03-31 14:50:00+02:00               25001.4114
3  2023-03-31 15:00:00+02:00               24825.6014
4  2023-03-31 15:10:00+02:00               24797.0215
5  2023-03-31 15:20:00+02:00               24659.8650
6  2023-03-31 15:30:00+02:00               24662.6284
7  2023-03-31 15:40:00+02:00               24550.8876
8  2023-03-31 15:50:00+02:00               24574.2603
9  2023-03-31 16:00:00+02:00               24479.2311
10 2023-03-31 16:10:00+02:00               24516.1549
11 2023-03-31 16:20:00+02:00               24432.1141
12 2023-03-31 16:30:00+02:00               24477.9481
13 2023-03-31 16:40:00+02:00               24401.1325
14 2023-03-31 16:50:00+02:00               24452.8253
15 2023-03-31 17:00:00+02:00               24380.7604
16 2023-03-31 17:10:00+02:00               24436.3055
17 2023-03-31 17:20:00+02:00               24367.3645
18 2023-03-31 17:30:00+02:00               24425.4426
19 2023-03-31 17:40:00+02:00               24358.5554
20 2023-03-31 17:50:00+02:00               24418.2991
21 2023-03-31 18:00:00+02:00               24352.7625
22 2023-03-31 18:10:00+02:00               24413.6013
23 2023-03-31 18:20:00+02:00               24348.9527

In [95]:
demanda["drop"] = demanda["Fecha"].where(demanda["Fecha"].dt.minute % 10 == 0, other = "drop")
demanda = demanda[demanda["drop"] != "drop"]
demanda = demanda[["Fecha", "Demanda real en MW", "Demanda prevista en MW"]]
inicio = "2023-03-31 14:30:00+02:00"
final = "2023-03-31 18:20:00+02:00"
df_demanda = demanda[(demanda["Fecha"] >= inicio) & (demanda["Fecha"] <= final)]
df_demanda

                           Fecha  Demanda real en MW  Demanda prevista en MW
531054 2023-03-31 14:30:00+02:00               26011                   25956
531056 2023-03-31 14:40:00+02:00               25911                   25827
531058 2023-03-31 14:50:00+02:00               26091                   25683
531060 2023-03-31 15:00:00+02:00               25746                   25656
531062 2023-03-31 15:10:00+02:00               25665                   25637
531064 2023-03-31 15:20:00+02:00               25332                   25514
531066 2023-03-31 15:30:00+02:00               24995                   25403
531068 2023-03-31 15:40:00+02:00               25098                   25344
531070 2023-03-31 15:50:00+02:00               24911                   25317
531072 2023-03-31 16:00:00+02:00               25014                   25092
531074 2023-03-31 16:10:00+02:00               24781                   24891
531076 2023-03-31 16:20:00+02:00               24717                   24934
531078 2023-03-31 16:30:00+02:00               24690                   24967
531080 2023-03-31 16:40:00+02:00               24678                   24978
531082 2023-03-31 16:50:00+02:00               24560                   25006
531084 2023-03-31 17:00:00+02:00               24671                   25077
531086 2023-03-31 17:10:00+02:00               24573                   25128
531088 2023-03-31 17:20:00+02:00               24607                   25103
531090 2023-03-31 17:30:00+02:00               24804                   25056
531092 2023-03-31 17:40:00+02:00               24862                   25069
531094 2023-03-31 17:50:00+02:00               24851                   25137
531096 2023-03-31 18:00:00+02:00               24917                   24811
531098 2023-03-31 18:10:00+02:00               24806                   24513
531100 2023-03-31 18:20:00+02:00               25005                   24658

In [96]:
df_demanda_predicción = pd.merge(predicción_demanda,df_demanda)
df_demanda_predicción

,Fecha,Prediccion propia en MW,Demanda real en MW,Demanda prevista en MW
0,2023-03-31 14:30:00+02:00,25312.2555,26011,25956
1,2023-03-31 14:40:00+02:00,25077.6597,25911,25827
2,2023-03-31 14:50:00+02:00,25001.4114,26091,25683
3,2023-03-31 15:00:00+02:00,24825.6014,25746,25656
4,2023-03-31 15:10:00+02:00,24797.0215,25665,25637
5,2023-03-31 15:20:00+02:00,24659.8650,25332,25514
6,2023-03-31 15:30:00+02:00,24662.6284,24995,25403
7,2023-03-31 15:40:00+02:00,24550.8876,25098,25344
8,2023-03-31 15:50:00+02:00,24574.2603,24911,25317
9,2023-03-31 16:00:00+02:00,24479.2311,25014,25092
10,2023-03-31 16:10:00+02:00,24516.1549,24781,24891
11,2023-03-31 16:20:00+02:00,24432.1141,24717,24934
12,2023-03-31 16:30:00+02:00,24477.9481,24690,24967
13,2023-03-31 16:40:00+02:00,24401.1325,24678,24978
14,2023-03-31 16:50:00+02:00,24452.8253,24560,25006
15,2023-03-31 17:00:00+02:00,24380.7604,24671,25077
16,2023-03-31 17:10:00+02:00,24436.3055,24573,25128
17,2023-03-31 17:20:00+02:00,24367.3645,24607,25103
18,2023-03-31 17:30:00+02:00,24425.4426,24804,25056
19,2023-03-31 17:40:00+02:00,24358.5554,24862,25069
20,2023-03-31 17:50:00+02:00,24418.2991,24851,25137
21,2023-03-31 18:00:00+02:00,24352.7625,24917,24811
22,2023-03-31 18:10:00+02:00,24413.6013,24806,24513
23,2023-03-31 18:20:00+02:00,24348.9527,25005,24658

In [99]:
with open("../data/visualizacion/px_prediccion.pkl", "wb") as prediccion_demanda:
    pickle.dump(df_demanda_predicción, prediccion_demanda)